@layer components {
  .button {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm border border-transparent rounded-lg cursor-pointer select-none hover:bg-neutral-900 hover:border-neutral-800 text-nowrap;
  }
  .button-noborder {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm rounded-lg cursor-pointer select-none hover:bg-neutral-900 text-nowrap;
  }

  .button-lighter {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm border border-transparent rounded-lg cursor-pointer select-none hover:bg-neutral-800/70 hover:border-neutral-700/70 text-nowrap;
  }

  .button-cancel {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm border border-transparent rounded-lg cursor-pointer select-none hover:bg-red-900 hover:border-red-700 text-nowrap;
  }

  .button-accept {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm border border-transparent rounded-lg cursor-pointer select-none hover:bg-green-900 hover:border-green-700 text-nowrap;
  }

  .button-cancel-visible {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm bg-red-900 border border-red-700 rounded-lg cursor-pointer select-none hover:bg-red-800 hover:border-red-600 text-nowrap;
  }

  .button-accept-visible {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm bg-green-900 border border-green-700 rounded-lg cursor-pointer select-none hover:bg-green-800 hover:border-green-600 text-nowrap;
  }

  .button-lighter-visible {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm border rounded-lg cursor-pointer select-none bg-neutral-800/70 border-neutral-700/70 hover:bg-neutral-700/70 hover:border-neutral-600/70 text-nowrap;
  }

  .button-visible {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm border rounded-lg cursor-pointer select-none bg-neutral-900 border-neutral-800 hover:bg-neutral-800 hover:border-neutral-700 text-nowrap;
  }

  .button-active-white {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm text-black bg-white border rounded-lg cursor-pointer select-none text-nowrap;
  }

  .button-active-lighter {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm border rounded-lg cursor-pointer select-none bg-neutral-800/70 border-neutral-700/70 text-nowrap;
  }

  .button-active-lighter-noborder {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm rounded-lg cursor-pointer select-none bg-neutral-800/70 text-nowrap;
  }

  .button-active-noborder {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm rounded-lg cursor-pointer select-none bg-neutral-900 text-nowrap;
  }

  .button-visible-text {
    @apply text-sm border rounded-lg cursor-pointer select-none bg-neutral-900 border-neutral-800 hover:bg-neutral-800 hover:border-neutral-700;
  }

  .button-disabled {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm border rounded-lg opacity-50 pointer-events-none select-none bg-neutral-800/70 border-neutral-700/70 hover:bg-neutral-700/70 hover:border-neutral-600/70 text-nowrap text-neutral-600;
  }

  .button-pink-visible {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm border border-pink-700 rounded-lg cursor-pointer select-none bg-gradient-to-r from-pink-900 to-pink-800 hover:from-pink-800 hover:to-pink-700 hover:border-pink-600 text-nowrap;
  }

  .button-emerald-visible {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm border rounded-lg cursor-pointer select-none bg-emerald-900 border-emerald-700 hover:bg-emerald-800 hover:border-emerald-600 text-nowrap;
  }

  .button-amber-visible {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm border rounded-lg cursor-pointer select-none bg-amber-900 border-amber-700 hover:bg-amber-800 hover:border-amber-600 text-nowrap;
  }

  .button-yellow-visible {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm bg-yellow-900 border border-yellow-700 rounded-lg cursor-pointer select-none hover:bg-yellow-800 hover:border-yellow-600 text-nowrap;
  }


  .button-yellow-lighter {
    @apply flex items-center justify-center h-10 overflow-hidden text-sm text-yellow-300 border border-transparent rounded-lg cursor-pointer select-none hover:bg-yellow-800/70 hover:border-yellow-700/70 hover:text-white text-nowrap;
  }

  .sparkle {
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(255, 255, 255, 0.06) 50%,
        transparent 30%
      );
      animation: sparkle 10s ease-in-out infinite;
      pointer-events: none;
      will-change: transform, opacity;
      transform: translateZ(0);
      backface-visibility: hidden;
      perspective: 1000;
    }
  }

  @keyframes sparkle {
    0%,
    85% {
      transform: translate3d(-100%, 0, 0);
      opacity: 0;
    }
    90%,
    95% {
      opacity: 1;
    }
    100% {
      transform: translate3d(200%, 0, 0);
      opacity: 0;
    }
  }
}
