@import "./buttons.css";
@import "./inputs.css";
@import "./panels.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-neutral-950;
    scrollbar-gutter: stable;
  }

  html,
  body,
  #app {
    @apply text-neutral-200 font-roboto;
    scrollbar-gutter: stable;
  }

  .fixed {
    width: 100vw;
    margin-right: calc(-1 * (100vw - 100%));
  }
}

.prose h1 {
  @apply mb-6 text-4xl font-bold;
}

.prose h2 {
  @apply mt-8 mb-4 text-2xl font-bold;
}

.prose p {
  @apply text-lg text-neutral-300;
}

.prose ul {
  @apply my-4 text-lg text-neutral-300;
}

/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #262626; /* Neutral-900 equivalent */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #404040; /* Neutral-700 equivalent */
  border-radius: 4px;
  border: 2px solid #262626; /* Border color matching track */
}

::-webkit-scrollbar-thumb:hover {
  background: #525252; /* Neutral-600 equivalent */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #404040 #262626; /* thumb track */
}

/* Style the select element itself */
select {
  @apply bg-neutral-800 text-neutral-200 border-neutral-700;
}

/* Style the options within the dropdown */
select option {
  @apply bg-neutral-800 text-neutral-200;
}

/* For Firefox */
select {
  scrollbar-color: #404040 #262626; /* thumb track */
}

/* For Webkit browsers (Chrome, Safari) */
select::-webkit-scrollbar {
  width: 8px;
}

select::-webkit-scrollbar-track {
  background: #262626; /* Neutral-900 equivalent */
}

select::-webkit-scrollbar-thumb {
  background: #404040; /* Neutral-700 equivalent */
  border-radius: 4px;
}

select::-webkit-scrollbar-thumb:hover {
  background: #525252; /* Neutral-600 equivalent */
}
